/*
 * @Author: yuanchengyong 
 * @Date: 2020-01-09 10:00:15 
 * @Last Modified by:   zyycy_love@126.com 
 * @Last Modified time: 2020-01-09 10:00:15 
 */

import {userState, useEffect} from 'react';

function UserInfo() {
    let [count, setCount] = useState(0);
    let [checked, setChecked] = useState(props.checked || false);

    function handleStatusChange(checked) {
        setChecked(checked);
    }

    // 返回值的情况
    useEffect(() => {
        // 组件Mount是添加监听，componentDidMount
        // subscribe原理是，callbacks.push(handleStatusChange)
        // 当值status值变化是，对遍历callbacks数组，调用内方法
        // callbacks.map((fn) => { fn(status) });
        ChatAPI.subscribeToFriendStatus(props.id, handleStatusChange);

        // 组件销毁是移除监听(componentWillUnmount，时执行return的内方法)
        // unsubscribe的原理是
        // let index = callbacks.indexOf(fn);
        // callbacks.splice(index, 1);
        return function cleanup() {
            ChatAPI.unsubscribeFromFriendStatus(props.id, handleStatusChange);
        };
    });


    // 没有返回值的情况
    useEffect(() => {
        // 组件Mount是调用，componentDidMount、componentDidUpdate1
        document.title = `Clicked ${count}`;
    });

    return (
        <div>
            <h1>Users</h1>
            <% function user(user) { %>
                <li><strong><%= user.name %></strong> is a <%= user.age %> year old <%= user.species %>.</li>
            <% } %>
            <ul>
            <% users.map(user) %>
            </ul>
        </div>
    )
}  
